<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Did the STORJ payout go out yet?</title>
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <div class="container" style="margin-top: 5rem" id="app">
        <div class="row" style="margin-bottom: 1rem">
            <div class="col-3">
                <strong>Month</strong>
            </div>
            <div class="col-9">
                <strong>Status</strong>
            </div>
        </div>
        <div v-for="row in rows" class="row" style="margin-bottom: 0.4rem">
            <div class="col-3">
                {{row.date}}
            </div>
            <div class="col-9">
                <span v-if="row.progress === 0">Not yet started</span>
                <span v-else-if="row.progress === 33">In Farmer Review</span>
                <span v-else-if="row.progress === 66">In Progress</span>
                <span v-else-if="row.progress === 100">Completed</span>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped"
                         role="progressbar"
                         aria-valuenow="{{row.progress}}"
                         aria-valuemin="0"
                         aria-valuemax="100"
                         v-bind:style="{ width: row.progress + '%' }"
                         v-bind:class="{
                            'bg-success': row.progress === 100,
                            'bg-warning': row.progress === 33,
                            'progress-bar-animated': row.progress !== 100,
                            }"
                    ></div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script>
      var app = new Vue({
        el: '#app',
        data:{
          rows: [
            {date: 'Dec 2017', progress: 100},
            {date: 'Jan 2018', progress: 33},
            {date: 'Feb 2018', progress: 0},
            {date: 'Mar 2018', progress: 0},
            {date: 'Apr 2018', progress: 0},
            {date: 'May 2018', progress: 0},
            {date: 'Jun 2018', progress: 0},
            {date: 'Jul 2018', progress: 0},
            {date: 'Aug 2018', progress: 0},
            {date: 'Sep 2018', progress: 0},
            {date: 'Oct 2018', progress: 0},
            {date: 'Nov 2018', progress: 0},
            {date: 'Dec 2018', progress: 0},
          ]
        },
      })
    </script>
</body>
</html>